.cart-inner
{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .cart-head
    {
        display: flex;
        justify-content: space-between;
        
        button
        {
            background-color: #282828;
            border: none;
            cursor: pointer;
            min-width: 150px;
            border-radius: 30px;
            padding: 13px 20px;
            font-weight: 600;
            color: #fff;
            transition: background .2s;

            &:hover,
            &:active
            {
                background-color: #FE5F1E;
            }
        }
    }

    .cart-statistika
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p
        {
            font-weight: 400;
            font-size: 22px;

            @media (max-width: 950px) {
                font-size: 18px;
            }

            @media (max-width: 744px) {
                font-size: 13px;
            }

            span
            {
                font-weight: 600;

                &.price
                {
                    color: #FE5F1E;
                }
            }
        }
    }

    .cart-submit
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 744px) {
            display: block;
        }

        .cart-btn
        {
            background-color: #FE5F1E;
            display: inline-block;
            text-align: center;
            border: none;
            width: 250px;
            border-radius: 30px;
            padding: 13px 20px;
            color: #fff;

            @media (max-width: 950px) {
                font-size: 14px;
            }

            @media (max-width: 744px) {
                width: 100%;
            }

            span
            {
                font-weight: 600;
            }

            &:active
            {
                filter: brightness(1.2);
            }
        }
    }

    
}